/* -------------------- */
/* color                */
/* -------------------- */

:root {
  --clr-very-dark-cyan: 183 100% 15%;
  --clr-dark-grayish-cyan: 186 14% 43%;
  --clr-grayish-cyan: 184 14% 56%;
  --clr-light-grayish-cyan: 185 41% 84%;
  --clr-very-light-grayish-cyan: 189 41% 97%;
  --clr-white: 0 0% 100%;

  --clr-outline: hsl(174, 31%, 52%);
  --clr-red: hsl(7, 65%, 61%);
  --clr-result: hsl(172, 67%, 45%);
  --clr-result-op: 172 67% 45%;
}
